### 压测

#### 压测基于 sysbench 构建 20 个测试表，每个表里有 100 万条数据，接着使用 100 个并发线程去对这个数据库发起访问，连续访问 5 分钟，也就是 300 秒。命令如下：

#sysbench --db-driver=mysql --time=300 --threads=100 --report-interval=1 --mysql-host=123 --mysql-port=3306 --mysql-user=123 --mysql-password=123 --mysql-db=test_ly --tables=20 --table_size=1000000 oltp_read_write --db-ps-mode=disable prepare

mysql-user=db_admin
mysql-password=xxx
mysql-port=3306
mysql-host=xxx
threads=100
time=300
db-driver=mysql
verbosity=5
validate
mysql-db=test_ly
tables=2
table_size=1000000
db-ps-mode=disable
report-interval=1

##sysbench oltp_read_write prepare --config-file=sysbench_init.cnf

